:root {
  font-family: system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%; /* REQUIRED for fullScreen */
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* min-width: 320px; */
  /* min-height: 100vh; */
  overflow: hidden;
}

#app {
  width: 100%;
  min-height: 100vh;
}

.webix_view {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
